/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 29, 2016, 10:38:11 PM
    Author     : PoolLaptop
*/

@font-face {
    font-family: 'Superspace';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    /*    src: url('webfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*        url('webfont.woff2') format('woff2'),  Super Modern Browsers */
    /*        url('webfont.woff') format('woff'),  Pretty Modern Browsers */
    src: url('../fonts/Superspace-Regular-ver-1.00.ttf')  format('truetype'); /* Safari, Android, iOS */
    /*        url('webfont.svg#svgFontName') format('svg');  Legacy iOS */
}
form label.error {
    color:red;
}
form input.error {
    border:1px solid red;
}

/*
* ********************************************** Navbar Menu ***********************************************
*/
.ui.grid.main{
    margin-top: 70px;
}


.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

.padding-reset{
    padding: 0px !important;
}

.ui.message{
    padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }

    .ui.grid { margin: 0 !important; }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}

.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}
/*
* ********************************************** Navbar Menu ***********************************************
*/
